{% extends "home/base.html" %}

{% block content %}

<h1>Add A Coin</h1>  

<form method='POST' action="">
    {% csrf_token %}
    <select name="ticker" id="ticker">
        <option value="" selected disabled>Select a Coin</option>
        {% for ticker in tickerList %}
            <option value="{{ ticker }}">{{ ticker }}</option>
        {% endfor %}
    </select>
    {{ form.as_p }}
    <div>
        <p> 
            <button type="submit">Add Coin to portfolio</button>
        </p>
    </div>
</form>

{% endblock %}