{% extends "home/base.html" %}

{% block content %}

<section class="portfolio-section">
    <section class="heading-section">
        <h1 class="assets-h1">Your Assets</h1>
    </section>
    
    <table class="portfolio-table">
        <tr class="table-header assets-header">
            <th>Name</th>
            <th class="d-none d-sm-table-cell">Price</th>
            <th>Holdings</th>
            <th class="d-none d-sm-none d-md-none d-lg-table-cell">Avg. Buy Price</th>
            <th class="d-none d-sm-none d-md-table-cell">Profit/Loss</th>
            <th>Actions</th> 
        </tr>
        {% for asset in assets %}
            <tr class="asset-table-row portfolio-rows">
                <td>{{ asset.ticker }}</td>   
                <td class="d-none d-sm-table-cell">{{ asset.price }}</td>   
                <td>${{asset.usd_spent}} 
                    <hr class="table-hr">
                    <span class="qty_data">{{asset.quantity}}<span class="qty-ticker">{{ asset.ticker }}</span></span>
                </td>   
                <td class="d-none d-sm-none d-md-none d-lg-table-cell">${{ asset.average_price }}</td>   
                <td class="d-none d-sm-none d-md-table-cell">{{ asset.pnl }}</td>

                <!-- Modal Trigger -->
                <td>
                    <button class="btn" data-bs-toggle="modal" data-bs-target="#asset-modal">
                        <i class="action-icon fa-solid fa-ellipsis-vertical"></i>
                    </button> 
                </td>
            </tr>
            {% empty %}

            <tr class="asset-table-row">
                <td>Add Coin</td>
                <td>0.00</td>
                <td>0.00</td>
                <td class="d-none d-sm-none d-md-none d-lg-table-cell">0.00</td>
                <td class="d-none d-sm-none d-md-table-cell">0.00</td>
                <td>
                    <button class="btn" data-bs-toggle="modal" data-bs-target="#asset-modal">
                        <i class="action-icon fa-solid fa-ellipsis-vertical"></i>
                    </button> 
                </td>
            <tr>
        {% endfor %}
    </table>

    <section class="add-new-container">
        <section class="add-new-section">
            <a class="add-new-a" href="{% url 'add_asset' portfolio_id %}">
                <i class="fa-solid fa-circle-plus"></i> Add New
            </a>
        </section>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="asset-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-title">Manage Assets</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="portfolio-table modal-table">
                    <tr class="table-header">
                        <th>Name</th>
                        <th>Holdings</th>
                        <th>Actions</th>
                    </tr>
            
                    {% for asset in assets %}
                    
                        <tr class="portfolio-rows">
                            <td>{{ asset.ticker }}</td>      
                            <td>{{ asset.quantity }}</td>   
                            <td>
                                <a href="{% url 'update_asset' asset.id 'buy' %}"> 
                                    <button class="btn btn-purple modal-btn">Buy</button>
                                </a>
                        
                                <a href="{% url 'update_asset' asset.id 'sell' %}"> 
                                    <button class="btn btn-green modal-btn sell-btn">Sell</button>
                               </a>
                            </td> 
                        </tr>

                    {% endfor %}
                </table>       
            </div>
          </div>
        </div>
      </div>
    
</section>

{% endblock %}