{% extends "home/base.html" %}

{% block content %}

<div class="container login-div-container">
    <h1 class="sign-in-text">{{ b_or_s|title }} {{ asset.ticker }}</h1>  
    
    <form method='POST' action="">
        {% csrf_token %}
        <input type="hidden" name="ticker" id="ticker" value="{{ asset.ticker }}">
        {{ form.as_p }}
        <div>
            <p> 
                <button class="btn login-btn b_s-btn" type="submit">Add Transaction</button>
            </p>
        </div>
    </form>

</div>


{% endblock %}