{% extends "home/base.html" %}

{% block content %}

<h1>{{ b_or_s|title }} {{ asset.coinID }}</h1>  

<table>
    {% comment %} {% for asset in assets %} {% endcomment %}
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>PnL</th>
            <th>Average Price</th>
            <th>USD Spent</th>
        </tr>
        <tr>
            <td>{{ asset.coinID }}</td>   
            <td>{{ asset.quantity }}</td>   
            <td>{{ asset.PnL }}</td>   
            <td>{{ asset.AveragePrice }}</td>   
            <td>{{ asset.USDSpent }}</td>   
            <td>
        </tr>
    {% comment %} {% endfor %} {% endcomment %}
</table>

<form method='POST' action="">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
        <p> 
            <button type="submit">Update Coin</button>
        </p>
    </div>
</form>

{% endblock %}