{% extends "home/base.html" %}

{% block content %}

<h1>List of Portfolios</h1>  

<table>
    {% for portfolio in portfolios%}
        <tr>
            <th>Name</th>
            <th>USD Value</th>
            <th>User</th>
            
        </tr>
        <tr>
            <td>{{ portfolio.name }}</td>   
            <td>{{ portfolio.USDvalue }}</td>   
            <td>{{ portfolio.user }}</td>   
            <td>
                <a href="edit/{{ portfolio.id }}"> 
                    <button>Edit</button>
                </a>
            </td>
            <td>
                <a href="delete/{{ portfolio.id }}"> 
                    <button>Delete</button>
                </a>
            </td>
            <td>
                <a href="view-assets/{{ portfolio.id }}"> 
                    <button>View Assets</button>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr><td>You have no portfolios created<td><tr>
    {% endfor %}
</table>
<a href="{% url 'create_portfolio_url' %}">Create A Portfolio</a>

{% endblock %}