{% extends "home/base.html" %}

{% block content %}

<section class="portfolio-section">
    <section class="portfolio-title-section">
        <h1 class="portfolio-details portfolio-h1">Your Portfolios</h1> 
        <h3 class="portfolio-details portfolio-details-2">Total Value:</h3> 
        <h4 class="total-portfolio-bal"> = ${{ TPB }}</h4> 
    </section>
    
    <table class="portfolio-table">
        <tr class="table-header portfolio-header">
            <th>Name</th>
            <th>Value</th>
            <th></th>
        </tr>

        {% for portfolio, value in portfolios %}
            <tr class="portfolio-rows">
                <td>{{ portfolio.name }}</td>   
                <td>${{ value }}</td>   
    
                <td>
                    <a href="{% url 'get_asset_list' portfolio.id %}"> 
                        <button id="view-assets" class="btn view-btn">View Assets</button>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>Create A Portfolio</td>
                <td colspan="2">0.00</td>
            </tr>
        {% endfor %}
    </table>

    <section>
        <section class="create-portfolio-section">
            <a class="create-portfolio-a" href="{% url 'create_portfolio_url' %}">
                <i class="fa-solid fa-circle-plus"></i> Create A Portfolio
            </a>
        </section>

        <!-- modal trigger -->
        <section class="manage-portfolio-section">
            <button class="btn manage-btn" data-bs-toggle="modal" data-bs-target="#icon-modal">
                <i class="fa-solid fa-ellipsis-vertical"></i>Manage Portfolios
            </button> 
        </section>
    </section>
</section>

    <!-- Modal -->
    <div class="modal fade" id="icon-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-title">Manage Portfolios</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="portfolio-table modal-table">
                    <tr class="table-header">
                        <th>Name</th>
                        <th>Value</th>
                        <th>Actions</th>
                    </tr>
            
                    {% for portfolio,value in portfolios %}
                    
                        <tr class="portfolio-rows">
                            <td>{{ portfolio.name }}</td>   
                            <td>${{ value }}</td>   
                            <td>
                                <a href="{% url 'edit_portfolio' portfolio.id %}">
                                    <button class="btn btn-purple modal-btn">Edit</button>
                                </a>

                                <a href="{% url 'delete_portfolio' portfolio.id %}"> 
                                    <button class="btn btn-green modal-btn del-btn">Delete</button>
                                </a>
                            </td>
                        </tr>

                    {% endfor %}
                </table>       
            </div>
          </div>
        </div>
      </div>

{% endblock %}