{% extends "home/base.html" %}

{% block content %}

<section class="portfolio-section">
    <section class="portfolio-title-section">
        <h1 class="portfolio-details">Your Portfolios</h1> 
        <h3 class="portfolio-details portfolio-details-2">Total Value:</h3> 
        <h4 class="total-portfolio-bal"> = £ {API call needed}</h4> 
    </section>
    
    <table class="portfolio-table">
        <tr id="header">
            <th>Name</th>
            <th>Value</th>
            <th></th>
            <th></th>
        </tr>

        {% for portfolio in portfolios %}
        
            <tr class="portfolio-rows">
                <td>{{ portfolio.name }}</td>   
                <td>{{ portfolio.usd_value }}</td>   
                <!-- <td>
                    <a href="{% url 'edit_portfolio' portfolio.id %}">
                        <button>E</button>
                    </a>
                </td>
                <td>
                    <a href="{% url 'delete_portfolio' portfolio.id %}"> 
                        <button>D</button>
                    </a>
                </td> -->
                <td>
                    <a href="{% url 'get_asset_list' portfolio.id %}"> 
                        <button>A</button>
                    </a>
                </td>
                
                <!-- modal trigger -->
                <td>
                    <a id="myBtn">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#icon-modal">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </button> 
                    </a>
                </td>

            </tr>
            {% empty %}
            <tr><td>Create A Portfolio<td><tr>
        {% endfor %}
    </table>

    
    <section class="create-portfolio-section">
        <a class="create-portfolio-a" href="{% url 'create_portfolio_url' %}">
            <i class="fa-solid fa-circle-plus"></i> Create A Portfolio
        </a>
    </section>
</section>

    <!-- Modal -->
    <div class="modal fade" id="icon-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-title">Portfolios</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="portfolio-table">
                    <tr id="header">
                        <th>Name</th>
                        <th>Value</th>
                        <th></th>
                        <th></th>
                    </tr>
            
                    {% for portfolio in portfolios %}
                    
                        <tr class="portfolio-rows">
                            <td>{{ portfolio.name }}</td>   
                            <td>{{ portfolio.usd_value }}</td>   
                            <td>
                                <a href="{% url 'edit_portfolio' portfolio.id %}">
                                    <button>Edit</button>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'delete_portfolio' portfolio.id %}"> 
                                    <button>Delete</button>
                                </a>
                            </td>
                        </tr>

                    {% endfor %}
                </table>       
            </div>
          </div>
        </div>
      </div>

{% endblock %}