@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Libre+Baskerville&display=swap');

/* Nav Bar */ 

.brand {
    font-family: 'Fjanlla One', sans-serif;
    font-size: 2.6rem;
    font-weight: 800;
    color: #661aff;
}

.nav-link{
    font-size: 1.2rem;  
}

.navbar-toggler{
    background-color: #00B58B;
}

/* Body */
body {
    background-color: #F9FAFC;
}

.main-bg {
    background-color: #F9FAFC;

}

.homepage-h1, .homepage-h2, .homepage-p{
    margin-left: 25px;
}

.homepage-h1{
    font-weight: 600;
    font-size: 1.4rem;
    padding-top: 25px;
    color:#661aff;
}

.homepage-h2{
    font-weight: 800;
    font-size: 1.8rem;
    font-family: 'Fjanlla One', sans-serif;

}

.homepage-p-div{
    width: 90vw;
}

.homepage-p{
    font-weight: 600;
    text-align: justify;
    color: #5d5d5d;
    font-family: 'Lato', sans-serif;
}

.btn-purple{
    background-color: #661aff;
    margin-left: 25px;
}

.btn-green{
    background-color: #00B58B;
    margin-left: 10px;
}

.btn-styling-home{
    margin-top: 20px;
    padding-top: 12px;
    color: white;
    border-radius: 10px;
    height: 50px;
    font-weight: bold;
    font-size: 0.9rem;
}

.container{
    max-width: 100vw;
}

.page-container-row{
    margin: 0px 15px;
    display: flex;
}

.webiste-info-box{
    flex-direction: column;
    margin: 15px 0px;
    padding-top: 20px;
    padding-bottom: 25px;
    border-radius: 20px;
    background-color: #f1f3fa;
}

.fa-bitcoin, .fa-circle-info, .fa-chart-area, .fa-shield-halved{
    margin-top: 25px;
    margin-left: 15px;
    font-size: 3.5rem;
}

.fa-bitcoin, .fa-shield-halved{
    color: #661aff;
}

.fa-circle-info, .fa-chart-area{
    color:#00B58B;
}

.info-box-h4{
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: 'Fjanlla One', sans-serif;
}

.info-box-p{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

/* Footer */
.purple-bg {
    background-color: #661aff;
}

.footer-name{
    font-family: 'Fjanlla One', sans-serif;
}

.icon-p{
    width: 100%;
}

.icon-p li{
    display: inline-block
}

.icon-p li a{
    font-size: 18px;
    color: white;
    padding-right: 5px;
}

/* Media Queries */
@media only screen and (min-width: 768px){
    .brand{
        margin-left: 2.5rem;
    }

    .nav-link{
        margin-left: 45px;
    }

    .jumbotron{
        margin-left: 2rem;
    }

    .webiste-info-box{
        flex-direction: column;
    }
}

@media only screen and (min-width: 1024px){
    .logout-btn{
        border-radius: 20px;
        background-color: #00B58B;
        height: 45px;
    }

    .login-btn{
        border-radius: 20px;
        background-color: #00B58B;
        height: 45px;
        width: 75px;
    }

    .page-container-row{
        margin: 0px;
    }

    .webiste-info-box{
        flex-direction: row;
        flex-basis: 50%;
        
    }
}

@media only screen and (min-width: 1024px){
    .brand{
        margin-left: 5rem;
    }

    .jumbotron{
        margin-left: 4rem;
    }
}