@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Libre+Baskerville&display=swap');

html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

main{
    flex-grow: 1;
}

/* Nav Bar */ 

.brand {
    font-family: 'Fjanlla One', sans-serif;
    font-size: 2.6rem;
    font-weight: 800;
    color: #661aff;
}

.nav-link{
    font-size: 1.2rem; 
    font-weight: bold; 
}

.navbar-toggler{
    background-color: #00B58B;
}

/* Login */

.login-div-container{
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 20px;
    border: 5px solid #00B58B;
    border-radius: 15px;
    width: 80vw;
}

.sign-in-text{
    font-family: 'Fjanlla One', sans-serif;
    font-size: 1.5em;
    font-weight: 800;
}

.text-align-justify{
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

.login-btn{
    border-radius: 20px;
    background-color: #661aff;
    height: 45px;
    width: 95px;
    color: white;
    font-weight: bold;
}

.login-btn:hover{
    background-color: #00B58B;
    color: black;
}

.link{
    color: #661aff;
    text-decoration: none;
}

.link:hover{
    color: #00B58B;
}

/* Body */
body {
    background-color: #F9FAFC;
}

.main-bg {
    background-color: #F9FAFC;

}

.homepage-h1, .homepage-h2, .homepage-p{
    margin-left: 25px;
}

.homepage-h1{
    font-weight: 600;
    font-size: 1.4rem;
    padding-top: 25px;
    color:#661aff;
}

.homepage-h2{
    font-weight: 800;
    font-size: 1.8rem;
    font-family: 'Fjanlla One', sans-serif;

}

.homepage-p-div{
    width: 90vw;
}

.homepage-p{
    font-weight: 600;
    text-align: justify;
    color: #5d5d5d;
    font-family: 'Lato', sans-serif;
}

.btn-purple{
    background-color: #661aff;
    margin-left: 25px;
}

.btn-purple:hover{
    color: black;
    background-color: #00B58B;
}

.btn-green{
    background-color: #00B58B;
    margin-left: 10px;
}

.btn-green:hover{
    color: #fff;
    background-color: #661aff;
}

.btn-styling-home{
    margin-top: 20px;
    padding-top: 12px;
    color: white;
    border-radius: 10px;
    height: 50px;
    font-weight: bold;
    font-size: 0.9rem;
}

.container{
    max-width: 100vw;
}

.page-container-row{
    margin: 0px 15px;
    display: flex;
}

.webiste-info-box{
    /* flex-direction: column; */
    margin: 15px 0px;
    padding-top: 20px;
    padding-bottom: 25px;
    border-radius: 20px;
    background-color: #f1f3fa;
}

.fa-bitcoin, .fa-circle-info, .fa-chart-area, .fa-shield-halved{
    margin-top: 25px;
    margin-left: 15px;
    font-size: 3.5rem;
}

.fa-bitcoin, .fa-shield-halved{
    color: #661aff;
}

.fa-circle-info, .fa-chart-area{
    color:#00B58B;
}

.info-box-h4{
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: 'Fjanlla One', sans-serif;
}

.info-box-p{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

.create-close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.create-close:hover,
.create-close:focus{
    color:black;
    text-decoration: none;
    cursor: pointer;
}

.create-portfolio-btn{
    width: 150px;
}

.edit-portfolio-btn{
    width: 175px;
}

/* Portfolio Page */

.portfolio-section{
    width: 80vw;
    margin: 60px auto 60px;
    border-radius: 20px;
    background-color: #f1f3fa;
}

.portfolio-title-section{
    margin-top: 30px;
}

.portfolio-details{
    font-size: 1.4rem;
    font-family: 'Fjanlla One', sans-serif;
    font-weight: 800;
    text-align: center;
    padding-top: 20px;
    color:#661aff;
}

.portfolio-details-2{
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.total-portfolio-bal{
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: center;
}

.portfolio-table{
    /* position: absolute; */
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
}

tr{
    transition: all .2s ease-in;
    cursor: pointer;
}

#header{
    background-color: #00B58B;
    color:#fff;
}

th, td{
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd ;
}

td{
    font-weight: 500;
}

.portfolio-rows:hover{
    background-color: #C8C8C8;
    box-shadow: 1px 1px rgba(0,0,0,0.2), -1px -1px 8px rgba(0,0,0,0.2);
}

.create-portfolio-section{
    margin: 25px 0 25px;
    /* margin-left: 25px; */
    padding: 10px;
    width: fit-content;
    background-color: #661aff;
    border-radius: 25px;
}

.create-portfolio-a{
    color: #fff;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
}

.modal{
    display:none;
    position: fixed;
    z-index:1;
    left:0;
    top:0;
    width: 80vw;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus{
    color:black;
    text-decoration: none;
    cursor: pointer;
}

/* Footer */

.footer-class{
    margin-top: 40px;
    padding: 50px 0 30px;
    width:100%;
    bottom: 0;
    color: #fff;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 13px;
    background-color: #661aff;
}

.footer-row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
} 

.col{
    flex-basis: 33.33%;
    padding: 10px;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    font-family: 'Fjanlla One', sans-serif;
    font-weight: 700;
}

.footer-p{
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    
}

.footer-ul{
    padding: 0;
}

.footer-ul li{
    list-style: none;
    margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
}

.footer-ul li a{
    text-decoration: none;
    color: #fff;
}

.social-icons .fab{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 15px;
    background-color: #fff;
    color: #661aff;
}

.social-icons .fa-bitcoin{
    margin:0;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 5px solid #fff;
    margin: 10px auto 20px;
}

.copyright{
    text-align: center;
}

.underline{
    margin-top: 20px;
    width: 100%;
    height: 5px;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left:0;
    overflow: hidden;
}

.underline span{
    width: 15px;
    height: 100%;
    background: #00B58B;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

/* Media Queries */
@media only screen and (min-width: 425px){
    .login-div-container{
        margin-top: 70px;
    }
}

@media (max-width: 700px){
    .footer-class{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
    }
    
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%
    }
}

@media only screen and (min-width: 768px){
    .brand{
        margin-left: 2.5rem;
    }

    .nav-link{
        margin-left: 45px;
    }

    .jumbotron{
        margin-left: 2rem;
    }

    .webiste-info-box{
        flex-direction: column;
    }

    .login-div-container{
        margin-top: 80px;
        padding-bottom: 30px;
        border: 8px solid #00B58B;
    }

    .links-col{
        padding-left: 60px;
    }
}

@media only screen and (min-width: 1024px){
    .brand{
        margin-left: 5rem;
    }

    .jumbotron{
        margin-left: 4rem;
    }

    .page-container-row{
        width: 83vw;
        margin: 20px auto 0;
    }
    
    .webiste-info-box{
        flex-direction: row;
        flex-basis: 45%; 
    }

    .webiste-info-box:nth-child(2),
    .webiste-info-box:nth-child(4){
        margin-left: 60px;
    }  

    .login-div-container{
        margin-top: 90px;
        padding-bottom: 40px;
        border: 8px solid #00B58B;
    }

    .links-col{
        padding-left: 90px;
    }
}

@media only screen and (min-width: 1440px){
    .links-col{
        padding-left: 150px;
    }

    .page-container-row{
        width: 88vw;
        margin: 20px auto 0;
    }
    
    .webiste-info-box{
        flex-direction: row;
        flex-basis: 45%; 
    }

    .webiste-info-box:nth-child(2),
    .webiste-info-box:nth-child(4){
        margin-left: 70px;
    }  

    
}

