@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Libre+Baskerville&display=swap');

/* Nav Bar */ 

.brand {
    font-family: 'Fjanlla One', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #661aff;
}

.nav-link{
    font-size: 1.2rem;   
}

.navbar-toggler{
    background-color: #00B58B;
}

/* Body */
body {
    background-color: #F9FAFC;
}

.main-bg {
    background-color: #F9FAFC;
}

/* Footer */
.purple-bg {
    background-color: #661aff;
}

.icon-p{
    width: 100%;
}

.icon-p li{
    display: inline-block
}

.icon-p li a{
    font-size: 16px;
    color: white;
    padding-right: 5px;
}

/* Media Queries */
@media only screen and (min-width: 992px){
    .logout-btn{
        border-radius: 20px;
        background-color: #00B58B;
        height: 45px;
    }
}